@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: rgb(36, 0, 36);
    border-radius: 25px;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 9px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #46105e;
    border-radius: 25px;
    cursor: pointer;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #8a14bd;
  }
}
